extends layout

block content
	#myCarousel.carousel.slide
		ol.carousel-indicators
			li(data-target="#myCarousel",data-slide-to="0").active
			li(data-target="#myCarousel",data-slide-to="1")
			li(data-target="#myCarousel",data-slide-to="2")
		.carousel-inner
			.item.active
				img(src="img/bird1.jpg")
			.item
				img(src="img/bird2.jpg")
			.item
				img(src="img/bird3.jpg")
		a.left.carousel-control(href="#myCarousel",data-slide="prev")
			span.glyphicon.glyphicon-chevron-left
		a.right.carousel-control(href="#myCarousel",data-slide="next")
			span.glyphicon.glyphicon-chevron-right
	.detail-icon
		img(src="img/icons/speaker.png").speaker
		img(src="img/icons/alert.png").alert
		img(src="img/icons/star.png").star
		img(src="img/icons/share.png").share
	h2 Description 
	.detail-description
		p The Broad-winged Hawk (Buteo platypterus) is a small hawk of the genus Buteo. During the summer some subspecies are distributed over eastern North America, as far west as British Columbia and Texas; they then migrate south to winter in the neotropics from Mexico down to southern Brazil.[2] Other subspecies are all-year residents on Caribbean islands.[citation needed] As in most raptors, females are slightly larger than males. Broad-winged Hawks' wings are relatively short and broad with a tapered, somewhat pointed appearance. There are two types of colouration: a dark morph with fewer white areas and a light morph that is more pale overall. Although the Broad-winged Hawk's numbers are relatively stable, populations are declining in some parts of its breeding range because of forest fragmentation.
	h2 Resources
	.detail-resources
		a(href="http://en.wikipedia.org/wiki/Buteo_platypterus?printable=yes") Wikipedia
		a(href="http://www.allaboutbirds.org/guide/broad-winged_hawk/id") TheCornellLab of Ornithology
	.map

	script(src="js/holder.js")
	script(src="js/script.js")

