extends layout

block content
	#myCarousel.carousel.slide
		ol.carousel-indicators
			li(data-target="#myCarousel",data-slide-to="0").active
			li(data-target="#myCarousel",data-slide-to="1")
			li(data-target="#myCarousel",data-slide-to="2")
		.carousel-inner
			.item.active
				img(src="img/bird1.jpg")
			.item
				img(src="img/bird2.jpg")
			.item
				img(src="img/bird3.jpg")
		a.left.carousel-control(href="#myCarousel",data-slide="prev")
			span.glyphicon.glyphicon-chevron-left
		a.right.carousel-control(href="#myCarousel",data-slide="next")
			span.glyphicon.glyphicon-chevron-right
	script(src="js/holder.js")
	script(src="js/script.js")
