extends layout

block content
  
  nav.navbar-fixed-top(role=navigation)
    .navbar-header
      p.navbar-text Bird Watch


  #map 

  form.navbar-search.

  .header
    .btn-group
      button.btn.btn-default(type="button") Back
      img.left(src="public/img/icons/arrow.png")