extends layout

block content
	.page-header
		h1 Settings 
			small Yes! Notify me when migratory birds are within 50 miles.

	span SMS
	.make-switch.switch-large
		input(type="checkbox")
	span Google Glass
	.make-switch.switch-large
		input(type="checkbox")
	span Push Notifications
	.make-switch.switch-large
		input(type="checkbox")
	span Email
	.make-switch.switch-large
		input(type="checkbox")
					